/*author:Natalie Mata-2015*/

@font-face {
    font-family: kollbean;
    src: url(../fonts/kollbean.ttf);
}

@font-face {
    font-family: GothamLight;
    src: url(../fonts/gotham_light.eot);
    src: url(../fonts/gotham-light.woff);
}

@font-face {
    font-family: proxima-nova;
    src: url(../fonts/proxima-nova.otf);
}

@font-face {
    font-family: montserrat-regular;
    src: url(../fonts/montserrat-regular.ttf);
}


.wrapper{
	visibility: hidden;
}

body{
	background-color: #282828;
}

input{
	border:none;
}

h1, h2{
	font-family:GothamLight, montserrat-regular, proxima-nova;
}

h1{
	color:#fff;
	font-size: 3.05em;
	margin-top: 5px;
}

h2{
	color: #dfe0e6;
	font-size: 2.2em;
}

p, th, td{
	font-size: 1.07em;
}

p{ 
	color: #858585;
}

th{
	color: #a0a2b2;
	font-family: GothamLight;
}

legend{
	font-size: 1.15em;
	color: #a0a2b2;
	font-family: GothamLight;
	margin-top: 5px;
	margin-bottom: 10px;
}

input[type=button]{
	font-family: GothamLight;
	font-weight: bold;
}

input[type=text]{
	font-family:proxima-nova, GothamLight;
}

a:hover{
	text-decoration: none;
}

a:visited, a:link {
    text-decoration: none;
}

table a{
	padding: 2px;
	display: block;
}

.logoContainer{
	width: 20%;
}

.logoName{
	font-family: kollbean;
	font-size: 1.5714em;
	text-decoration: none;
	color: #e0e0e5;
}

.logoName a:hover{
	text-decoration: none;
}

.logoName span{
	font-style: italic;
	text-decoration: none;
	margin-left: 12px;
	display: block;
	position: absolute;
	bottom: -17px;
	color: #c6c7cb;
	width: 100%;

}

.logoName, .logoName span {
	background: -webkit-linear-gradient(bottom, #E6E6E6, #BBBCBF);
	background: linear-gradient(left, #fff, #666);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.modalLogo{
	margin-top: 10px;
}

.userNameModal input[type=text]{
	background-color: #282828;
	padding: 12px;
	color:#a0a2b2;
	font-size: 1.14285em;
}

.userNameModal p{
	color:#BD3744;
}

.addDataForm legend{
	margin-top: 20px;
}

.paddingTop50{
	padding-top: 1.4285em;
}

.main-bar{
	padding-top: 15px;
	padding-bottom: 10px;
	background-color: #282828;
	border-bottom: 3px solid #181818;
}

.main-section{
	margin-top: 77px;
}

.nav-color{
	background-color: #282828;
}

.main-color{
	background-color: #181818;
	padding-bottom: 24em;
}

.control-nav{
	margin-bottom:15px;
}

.sidebar li{
	color: #a0a2b2;
	text-decoration: none;
	padding: 2px 5px;
	/*border-left: 6px solid #282828;*/
}

.sidebar .active{
	border-left: 6px solid #1e7ec3;
}


.sidebar .sidebarheader{
	padding: 8px 5px;
}

.sidebar:first-child{
	margin-top: 10px;
}

.sidebar a{
	color:#ffffff;
	text-decoration: none;
	display: block;
	line-height: 32px;
}

.sidebar li:hover{
	background-color: #1a1a1a;
}

.sidebar .sidebarheader:hover{
	background-color: #282828;
}

.sign{
	border: 1px solid #fff;
	border-radius: 50%;
	font-size: 20px;
	padding: 0 6px;
	margin-right: 6px;1
}

.user-name{
	color: #c2c2c2;
	margin-top: 10px;
	margin-right: 65px;
	font-family:GothamLight, proxima-nova;
}

.form-control{
	height: auto;
	padding: 3px 0;
	background-color: #181818;
	border:none;
}

.form-control label{
	font-size: 0.9em;
	width: 21%;
}

.form-control input[type=text], .form-control input[type=number]{
	width: 75%;
	border-radius: 5px;
	font-size: 1em;
	line-height: 1.6em;
	color: #000;
	padding: 3px 0;
}

.form-control input[type=text], .form-control input[type=number]{
	background-color: #dfe0e0;
}

.pError{
	text-align: center;
	color:#BD3744;
}

.btnIniciarAgregar{
	width: 100%;
	background-color: #0d69b5;
	border: 2px solid #0d69b5;
	border-radius: 10px;
	color: #fff;
	padding: 3px 0;
}

.btnIniciarAgregar:hover{
	background-color:  #409abf;
	border-color: #409abf; 
}


.form-control input[type=button]{
	width: 60%;
	margin: 0 auto;
	background-color: #000;
	border:2px solid gray;
	border-radius: 10px;
	color: #fff;
	padding: 3px 0;
}

.form-control input[type=button]:hover, .search-control input[type=button]:hover{
	border-color: #fff;
}

.btnIniciarAgregar{
	display: block;
}

.results{
	padding-top: 50px;
}

.results table{
	width: 100%;
}

.results table, .results th, .results td{
	border-collapse: collapse;
	border-bottom: 1px solid #3b3b3c;
}

.results th, 
.results td{
	padding-left: 5%;
}

.row-album, .row-artist, .row-rlabel{
	padding-top: 5.71428em;
}

.row-album p, .row-artist p, .row-rlabel p{
	font-size: 0.85714em;
}

.row-album span, .row-artist span, .row-rlabel span{
	font-size: 1.170em;
	color: #dfe0e6;
} 

.songResults td:last-child, .songResults th:last-child{
	padding-left: 0;
}

.results th{
	text-transform: uppercase;
	font-size: 1em;
}

.results table td{
	color: #fff;
	padding-top: 7px;
	padding-bottom: 7px;
}


.songResults table th{
	width: 33%;
}

.albumResults th, .albumResults td, .artistResults th, .artistResults td, .rLabelResults th, .rLabelResults td{
	padding-left: 8%;
}

.search-control{
	margin: 2.85em 0 2.85em 14px;
}

.search-control input[type=search]{
	border:none;
	border-radius: 20px;
	width: 50%;
	padding: 4px;
	padding-left: 8px;
	font-size: 1.1em;
}

.search-control input[type=button]{
	width: 20%;
	padding: 1px;
	border-radius: 15px;
}

.addDataForm input{
	border: none;
	border-radius: 50%;
	font-size: 22px;
	font-weight: bold;
	padding: 2px 11px;
	background-color: #0d69b5;
	border-color:#0d69b5;
	color: #fff;
	margin-left: 18px;
	margin-bottom: 1em;
	display: block;
}
.addDataForm input:hover{
	background-color: #409abf;
	border-color: #409abf;
}

.addDataForm select{
	width: 97%;
	font-size: 1.1em;
	color:#757575;
	padding: 4px;
	padding-left: 8px;
	display: block;
	border-radius: 20px;
}

.addDataForm option{
	color:#757575;
}

.btnDelete{
	border:1px solid #858585;
	color: #858585;
	background-color: transparent;
	border-radius: 50%;
	font-size: 26px;
	padding: 0 6px 2px;
	line-height: 20px;
	margin-right: 15px;
}

.btnDelete:hover{
	border-color: #fff;
	color: #fff;
}

/*--------------clases de js--------------*/
.displayBlock{
	display: block;
}

.displayNone{
	display:none;
}

.visibilityHidden{
	visibility: hidden;
}

.visibilityVisible{
	visibility: visible;
}

.error{
	border: 1px solid red;
}

.imgBorder{
	border: 3px solid blue;
}








/*----------------------MEDIA QUERY---------------------------------*/


@media (max-width: 490px){
	.user-icon{
		max-width: 30%;
	}

	.user-name{
		margin-top: 30px;
		margin-bottom: 0;
		font-size: 1em;
	}

	.logoName{
		font-size: 1.35em;
	}
}

